<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form class='item' class="form" action="/criarImgFrases" method="post" enctype="multipart/form-data">
            <br><br>
        <input type="file" name="avatar-" />
        <input type="hidden" name="nomeimg" value="<%=jogo.nomeimg%>">
        <input type="hidden" name="resposta" value="<%=jogo.resposta%>">
        <input type="hidden" name="opcao1" value="<%=jogo.opcao1%>">
        <input type="hidden" name="opcao2" value="<%=jogo.opcao2%>">
        <input type="hidden" name="opcao3" value="<%=jogo.opcao3%>">
        <input type="hidden" name="autor" value="<%=jogo.autor%>">        
        <button type="submit">Enviar</button>
</body>
</html>